{% extends 'base.html' %}

{% block head %}
<title>#{{ticket}} PatchBot Results</title>
<link rel="shortcut icon" href="/blob/{{status}}" />
{% endblock %}

{% block body %}

<h2>
<img src="/ticket/{{ticket}}/status.png{{"?base=" + base if base else ""}}">
{{ticket}}
</h2>
<a href="http://trac.sagemath.org/sage_trac/ticket/{{ticket}}">
{{info.title}}
</a>
<br><br>

<table>
{% for key, value in info.items(): %}
<tr>
<td align='right'>{{key}}:</td>
<td>{{value|safe}}</td>
</tr>
{% endfor %}
</table>
<br>
<hr>
<table width='100%'>
{% for report in reports: %}
<tr>
<td><img src="/blob/{{report.status}}"></td>
<td><b>{{report.status}}</b></td>
<td>{{report.base|safe}}</td>
<td><a href='/ticket/?machine={{'/'.join(report.machine)}}&status=open'>{{'/'.join(report.machine)}}</a></td>
<td>{{report.time}}</td>
<td align='center'><a href='{{report.log}}'>log</a> <a href='{{report.log}}?short'>shortlog</a></td>
</tr>
<tr>
<td colspan=2></td>
<td colspan=3 valign='top'>
{{report.patch_list|safe}}
</td>
<td valign='top'>
<ul style='list-style-type: none'>
{% for plugin, status in report.get('plugins', []) %}
<li>
<img height="16" src="/blob/{{['PluginFailed', 'TestsPassed'][status]}}">
<a href='{{report.log}}?plugin={{plugin}}'>{{plugin}}</a>
{% if 'base_log' in report %}
(<a href='{{report.log}}?plugin={{plugin}}&diff={{report.base_log}}&ticket={{ticket}}&base={{report.raw_base}}'>diff</a>)
{% endif %}
{% endfor %}
</ul>
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
