{% extends 'base.html' %}

{% block head %}
<title>#{{ticket}} Patchbot Results</title>
<link rel="shortcut icon" href="/blob/{{status}}" />
{% endblock %}

{% block body %}

<h2>
<img alt="{{status}}" src="/ticket/{{ticket}}/status.png{{"?base=" + base if base else ""}}">
{{ticket}}
</h2>
<a href="http://trac.sagemath.org/sage_trac/ticket/{{ticket}}">
{{info.title}}
</a>
<br/><br/>

<table>
{% for key, value in sort_fields(info.items()): %}
<tr>
<td class='right'>{{key}}:</td>
<td>{{value|safe}}</td>
</tr>
{% endfor %}
</table>
<br/>
<hr>
<table style="width:100%">
{% for report in reports: %}
<tr>
<td><img alt="{{report.status}}" src="/blob/{{report.status}}"></td>
<td><b>{{report.status}}</b><br/>{{report.pending_status}}</td>
<td>{{report.base|safe}}</td>
<td><a href='/ticket/?machine={{':'.join(report.machine)}}&amp;status=open'>{{'/'.join(report.machine)}}</a></td>
<td>{{report.time}}</td>
<td class='centre'><a href='{{report.log}}'>log</a> <a href='{{report.log}}?short'>shortlog</a></td>
</tr>
<tr>
<td colspan=2></td>
<td colspan=3 style="vertical-align: top;">
{% if 'git_base' in report %}
Patchbot version: {{report.patchbot_version}}<br/>
Branch: {{report.git_branch}}<br/>
Commit: <span class='git_commit'>{{report.git_commit}}</span> ({{report.git_commit_human}})<br/>
Base: <span class='git_commit'>{{report.git_base}}</span> ({{report.git_base_human}})<br/>
Merge: <span class='git_commit'>{{report.git_merge}}</span> ({{report.git_merge_human}})
{% else %}
{{report.patch_list|safe}}
{% endif %}
</td>
<td style="vertical-align: top">
<ul style='list-style-type: none'>
{% for plugin_tuple in report.get('plugins', []) %}
{% set plugin, status, data = normalize_plugin(plugin_tuple) %}
<li>
<img height="16" alt="{{['PluginFailed', 'TestsPassed'][status]}}" src="/blob/{{['PluginFailed', 'TestsPassed'][status]}}">
<a href='{{report.log}}?plugin={{plugin}}'>{{plugin}}</a>
{% if 'base_log' in report %}
(<a href='{{report.log}}?plugin={{plugin}}&amp;diff={{report.base_log}}&amp;ticket={{ticket}}&amp;base={{report.raw_base}}'>diff</a>)
{% endif %}
{% if data %}
(<a href='plugin/{{plugin}}/{{report.time}}/'>data</a>)
{% endif %}
{% endfor %}
</ul>
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
