<!doctype html>
<html>
<head>
{% block head %}
{% endblock head %}
<link href="/static/default.css" rel="stylesheet" media="screen">
<meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>

{% include "banner.html" %}

{% block body %}

{% endblock body %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20037535-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
