{% extends 'base.html' %}

{% block body %}

<h1>Sage Buildbot</h1>
Results against Sage {{base}}.

<hr>

<table>
{% for ticket in tickets: %}
<tr>
<td>{{ticket.report_count}}</td>
<td><img src='/blob/{{ticket.report_status}}' height=16></td>
<td align='right'>
    <a href="/ticket/{{ticket.id}}">{{ticket.id}}</a>
</td>
<td>{{ticket.title}}</td>
<td>{{ticket.status}}</td>
</tr>
{% endfor %}
</table>

<hr>

<table>
{% for status, count in summary.items() %}
<tr>
<td><img src='/blob/{{status}}' height=16></td>
<td>{{status}}</td>
<td>{{count}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
