{% extends 'base.html' %}

{% block head %}
<title>Sage PatchBot</title>
<link rel="shortcut icon" href="/blob/{{base_status[1]}}" />
{% endblock %}

{% block body %}

<h1>Sage Patchbot</h1>
<img src='/blob/{{base_status[1]}}' height=16>
Results against Sage {{base}}
(<a href='/ticket/0'>{{base_status[0]}} reports</a>).<br><br>
See results against
{% for version, status in versions: %}
<img src='/blob/{{status[1]}}' height=16>
<a href='?base={{version}}'>{{version}}</a>
{% endfor %}

<hr>

<table>
{% for ticket in tickets: %}
<tr>
<td>{{'*' if ticket.pending else ''}}</td>
<td>{{ticket.report_count}}</td>
<td><img src='/blob/{{ticket.report_status}}' height=16></td>
<td align='right'>
    <a href="/ticket/{{ticket.id}}">{{ticket.id}}</a>
</td>
<td>{{ticket.title}}</td>
<td>{{ticket.status}}</td>
</tr>
{% endfor %}
</table>

<hr>

<table>
{% for status, count in summary.items() %}
<tr>
<td><img src='/blob/{{status}}' height=16></td>
<td>{{status}}</td>
<td>{{count}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
