.centre  { text-align: center;}
.left  { text-align: left;}
.right  { text-align: right;}

.git_commit {color:#555;
	     font-size:80%}

.banner {border: 3px solid #7f7fff;
	 background: #efefff;
	 padding: 0.5em;
	 float: right;
	 width: 50%}